<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="Point10" class="com.example.pkg.Point">
		<constructor-arg index="1" value="12.7" />
		<constructor-arg index="0" value="2000.12" />
		<property name="x" value="56"></property>
		<property name="y" value="76"></property>
	</bean>
	
	<bean id="calc" class="com.example.pkg.Calculator">
		<constructor-arg index="0" value="100" />
		<constructor-arg index="1" value="5" />		
	</bean>
	
	<bean id="animal" class="com.example.pkg.Animal">
		<constructor-arg index="0" type="double" value="100.2" />
		<constructor-arg index="1" type="float" value="100.54" />
		<constructor-arg index="2" type="java.lang.String" value="Lycan" />		
	</bean>

</beans>