<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="zebra" class="com.example.pkg.Animal">
<!-- 		<property name="validator"> -->
<!-- 			<idref bean="animal" /> -->
<!-- 		</property> -->
	</bean>

	<bean id="validatorBean" class="com.example.pkg.BeanValidator">
		<property name="animal1">
			<idref bean="zebra" />
		</property>
		
		<property name="animal2">
			<idref bean="animal" />
		</property>
	</bean>

	<bean id="animal" class="com.example.pkg.Animal">
		<property name="weight" value="5.6" />
		<property name="color" ref="blackAndWhite">
		</property>
		<property name="size">
			<bean id="size" class="com.example.pkg.Size">
				<constructor-arg index="0" value="56.7" />
				<constructor-arg index="1" value="13.4" />
			</bean>
		</property>
	</bean>

	<bean id="blackAndWhite" class="com.example.pkg.Color">
		<constructor-arg index="0" value="BlackAndWhite" />
		<constructor-arg index="1" value="55" />
	</bean>




</beans>